[submodule "extern/Qt-Ribbon-Widget"]
	path = extern/Qt-Ribbon-Widget
	url = https://github.com/martijnkoopman/Qt-Ribbon-Widget
[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML.git
