[submodule "extern/SFML"]
	path = extern/SFML
	url = https://github.com/SFML/SFML
[submodule "extern/QT-Ribbon-Widget"]
	path = extern/QT-Ribbon-Widget
	url = https://github.com/KROIA/Qt-Ribbon-Widget
[submodule "extern/SimpleVerilogParser"]
	path = extern/SimpleVerilogParser
	url = https://github.com/KROIA/SimpleVerilogParser
